<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electronics</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
   <header>
      <h1>Electronics</h1>
   </header>

   <nav>
      <ul>
           <li><a href="/">ADD NEW</a></li>
           <li><a href="/dashboard">DASHBOARD</a></li>
           <li><a href="/login">LOGIN</a></li>
           <li><a href="/logout">LOGOUT</a></li>
      </ul>
   </nav>

<main>
       <h1> DELETED </h1>
       <section>
       
          
          <table>
            <tr>
              <th>Name: </th>
              <td><%= Name %></td>
            </tr>
            <tr>
              <th>Membership: </th>
              <td><%= Membership %></td>
            </tr>
            <tr>
              <th>vedio : </th>
              <td><%= vedio  %></td>
            </tr>
            <tr>
              <th>camera : </th>
              <td><%= camera  %></td>
            </tr>
            <tr>
              <th>monitors : </th>
              <td><%= monitors  %></td>
            </tr>
            <tr>
              <th>subtotal : </th>
              <td><%= subtotal %></td>
            </tr>
            <tr>
              <th>total : </th>
              <td><%= total %></td>
            </tr>
          </table>
         
      
    </section>
</main>
  
</body>
</html>